//-
  title - Label инпута ('string')
  type - тип инпута ('text', 'password', 'email', 'dropdown', 'radio', 'toggle', 'like')
  placeholder - текст placeholder ('string')

  +input({
    type: 'text',
    title: 'text field',
    placeholder: 'Email'
    })


include ../radio-button/radio-button
include ../toggle-button/toggle-button

mixin input(props = {})
  - const { title, placeholder='placeholder', type='text', mask, arrow=false, arrowColor='gradient'} = props;

  .input
    if type === 'text' || type === 'password' || type === 'email'
      if title
        label.input__title()
          h3 #{title}
          input.input(class='input__elem ' placeholder=placeholder type='text' data-mask=mask)
      else
        input.input(class='input__elem' type='text' placeholder=placeholder)
      if arrow
        +arrow({color: arrowColor})
    if type === 'dropdown'
      | pass

    if type === 'radio'
      +radio-button(props)

    if type=== 'toggle'
      +toggle-button(props)
