mixin comment(props = {photo, name, date, isLiked, likes, text})
  - const {photo="photo-1", name='Имя Фамилия', isLiked=false, date='Вчера', likes='0', text='Комментарий'} = props;
  .comment
    img(src=require('../../components/comment/img/' + photo + '.png')).comment__photo
    .comment__profile
      .comment__name #{name}
      .comment__date #{date}
    .comment__like
      +like({count: likes, isChecked: isLiked})
    .comment__text #{text}
