mixin checkbox(props = {items, isRich})
  - const {items=[], isRich=false} = props

  if isRich
    each item in items
      label.checkbox
        input(type="checkbox" checked=item.isChecked).checkbox__input
        span.checkbox__mark
        .checkbox__rich
          h3.checkbox__rich-title #{item.title}
          p.checkbox__rich-text #{item.text}

  else
    each item in items
      label.checkbox
        input(type="checkbox" checked=item.isChecked).checkbox__input
        span.checkbox__mark
        p.chekbox__label #{item.title}
