include ../input/input
include ../brands/brands
include ../logo/logo

mixin footer-nav(links = {data})
  - const { data } = links;
  ul.footer__nav
    h3= data.name
    each link in data.links
      li.footer__nav_item
        a(href=link.link class="footer__nav_link")=link.title


mixin footer(props = {mode, navOne, navTwo, navThree, logoText, subTitle, subText, copyText})
  -
    const { mode='default', navOne, navTwo, navThree, logoText, subTitle, subText,copyText } = props;
    const full = (mode === 'default') ? true : false;


  footer.footer
    if full
      .footer__content
        .footer__logo
          +logo()
          p.footer__logo_text=logoText
        +footer-nav({data: navOne})
        +footer-nav({data: navTwo})
        +footer-nav({data: navThree})
        .footer__sub
          h3=subTitle
          p.footer__sub_text=subText
          +input({type: 'text', placeholder: 'Email', arrow: true, arrowColor: 'gradient'})

      .footer__copyright
        p.footer__copyright_item=copyText
        .footer__brands
          +brands()

    else
      .footer__content
       .footer__mini
          .footer__logo
            +logo()
          p.footer__logo_text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
          .footer__brand
            +brands()
